body {
    background-image: url(background.jpeg);
    background-color: #cccccc;
    text-align: center;
}

.bubble {
    margin: 20px auto;
    width: 50%;
    font: 15px Arial;
    background-color: #FFFFFF;
    color: #454545;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
    justify-content: space-between
}

h1 {
    margin: 20px auto;
    width: 50%;
    background-color: #454545;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
    border-radius: 5px;
}

table {
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    width: 80%;
}

th, td {
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
    padding: 7.5px;
}

caption {
    font-size: 150%;
    padding: 5px;
}

.italic-mid {
    font-size: 125%;
    font-style: italic;
    text-align: center;
}

.italic-left {
    font-size: 125%;
    font-style: italic;
    text-align: left;
}

.italic-right {
    font-size: 125%;
    font-style: italic;
    text-align: right;
}

.big-bold {
    font-size: 150%;
    font-weight: bold;
    display: inline
}

.mid-bold {
    font-size: 115%;
    font-weight: bold;
    display: inline
}