<!DOCTYPE html>
<html lang = "en">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-4L8K5WV7VD"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'G-4L8K5WV7VD');
        </script>
    <link rel="stylesheet" href="{{url_for('static',  filename='style.css')}}">
    <script src="static/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $(function(){
            $('#header').load("{{ url_for('header') }}")
        })
    </script>
    <script>
        $(function(){
            $('#navbar').load("{{ url_for('navbar') }}")
        })
    </script>
    <body>
        <div id="header"></div>
        <div id="navbar"></div>
        <h1>
            Account Information
        </h1>
        <img src="{{ current_user.profile_pic }}"> <br>
        <div class="mid-bold">{{ session.display_name }}</div><br>
        <div class="mid-bold">{{ current_user.email }}</div><br>
        <div class="mid-bold">Spotify Username : {{ session.spotify_user_id }}</div><br>
        <form action="/logout">
            <input type="submit" value="Logout!">
        </form>
    </body>
</head>
</html>