<div class="mid-bold">Use the checkboxes, or the select all box, to pick songs you want in your playlist.<br>
    Give the playlist the name, hit the Create Playlist button, and it will be added to your Spotify account.<br>
</div>
<br>
<form action="/skitunes/create_playlist" method="post">
    Playlist Name : <input type="text" id="playlist_name" name="playlist_name" placeholder="My Awesome Playlist"><br>
    <button type="submit" name="submit-button" value="Create">Create Playlist</button><br><br>