<!DOCTYPE html>
<html>
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-4L8K5WV7VD"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'G-4L8K5WV7VD');
        </script>
    <link rel="stylesheet" href="{{url_for('static',  filename='style.css')}}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $(function(){
            $('#header').load("{{ url_for('header') }}")
        })
    </script>
    <script>
        $(function(){
            $('#navbar').load("{{ url_for('navbar') }}")
        })
    </script>
    <body>
        <div id="header"></div>
        <div id="navbar"></div>
        {% for entry in song_data %}
        
        <h1>Delete {{ entry.song_name }}?</h1>
        <div class="bubble">
            This will permenantly delete {{ entry.song_name }} and all the corresponding info from the database.<br>
            Are you sure you want to delete {{ entry.song_name }}?<br>
            <form method="post" action="{{url_for('delete_entry',  entry=entry.db_id)}}">
                <input type="submit" value="Delete" />
            </form>
            <a href="{{url_for('home')}}"><input type="button" value="Home" /></a>
        {% endfor %}
        </div>
    </body>
    </head>
</html>