<!DOCTYPE html>
<html lang = "en">
    <link rel="stylesheet" href="{{url_for('static',  filename='style.css')}}">
    <body>
        <h1>
            A lot in store? Like what?
        </h1>
            If you're anything like us it's probably a lot….or at least every now and then. <br>
            If not then we've at least now got you thinking about it. You're welcome :)<br>
            <div class="big-bold">Ok…Get to the point….</div><br>  
            Our goal is simple: We want to see winter and deep snow continue for many generations to<br> 
            come and we want to give you something in return for helping us to do it. We've founded a<br> 
            501c.3 non-profit called "Snowfficiency" dedicated to investing in energy efficiency projects<br> 
            in our built environment that achieve the greatest possible reduction in carbon footprint<br> 
            and greenhouse gas emissions per dollar spent. We are opening our database to you in <br>
            exchange for donations to this cause. Here's how it works:<br>  
            <div class="mid-bold">1.</div> Search our database according to skier/rider, location, production company, film title,<br> 
            musician, segment type, and potentially some other cool fields.<br> 
            <div class="mid-bold">2.</div> We'll tell you how many tracks match your search criteria and give you a preview.<br>  
            <div class="italic-mid">Some Examples:</div>
            <div class="italic-mid">Tracks by MSP & TGR that were Park segments <br>
            Tracks featuring Shane McKonkey or Sarah Burke <br>
            Tracks played during Japan Powder segments  <br></div>
            <div class="mid-bold">3.</div> Donate to Snowfficiency and we'll generate a playlist from the tracks that match your<br> 
            search criteria and send it to your email, Spotify, Songza, or Rdio account already compiled for your enjoyment.<br> 
            <div class="mid-bold">4.</div> We'll track your generous donation and let you know what project you helped to fund<br> 
            with details about the project such as carbon and greenhouse gas reductions produced,<br> 
            trees planted, or equivalent gas-guzzling trips to the mountain saved.<br>
            <div class="big-bold">What will you give me for free?</div><br> 
            We'll always allow you to search our database by a song title and artist to see if it was in a<br> 
            ski movie. We'll tell you which one it was in but that's all you get! No skier/rider info.<br> 
            No segment details. You have to help us save some snow for that.<br>
            <div class="big-bold">Isn't Protect Our Winters (POW) already doing this?</div><br> 
            POW is an outreach organization but doesn't directly fund projects that reduce the crap<br> 
            that's making our winters disappear. We've actually partnered with POW and 25% of your<br> 
            donation goes directly to them to help continue their efforts. If you haven't joined POW<br>
            as a supporter please do so! Support them through this <a href="https://protectourwinters.org/donate-to-pow/"> LINK</a>  and we'll give you 100 songs in<br> 
            playslists for free.<br>  
            <div class="big-bold">Can I just donate?</div><br> 
            Absolutely! You can do so <a href="https://www.venmo.com/u/Nick-Cote-1"> HERE</a><br>  
            <div class="big-bold">Can I help you without donating money?</div><br> 
            Yes please! Nearly every production company we've contacted has been incredibly helpful in<br> 
            filling in our database but there are a few films and tracks out there we haven't yet finished<br> 
            tagging. If you watch some of these films for us and tag our misssing pieces we'll give you<br> 
            credit for building some playlists of your own.<br>
    </body>
</html>