<!DOCTYPE html>
<html lang = "en">
    <link rel="stylesheet" href="{{url_for('static',  filename='style.css')}}">
    <script src="static/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $(function(){
            $('#header').load("{{ url_for('header') }}")
        })
    </script><script>
        $(function(){
            $('#navbar').load("{{ url_for('navbar') }}")
        })
    </script>
    <body>
        <div id="header"></div>
        <div id="navbar"></div>
        <h1>
            Login
        </h1>
        <form action="/login_local">
            Username : <input type="text" id="username" name="username"><br><br>
            Password : <input type="text" id="password" name="password"><br><br>
            <input type="submit" value="Login">
        </form>
        <br>
        <form action="/signup">
            <input type="submit" value="Register">
        </form>
        <br>
        <br>
        <a href="{{ url_for('login') }}"><img src="{{url_for('static',  filename='google_logo.png')}}" style="width: 10%;"></a>
    </body>
</html>