<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-4L8K5WV7VD"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'G-4L8K5WV7VD');
        </script>
        <link rel="stylesheet" href="{{url_for('static',  filename='style.css')}}">
        <script src="static/app.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script>
            $(function(){
                $('#header').load("{{ url_for('header') }}")
            })
        </script>
        <script>
            $(function(){
                $('#navbar').load("{{ url_for('navbar') }}")
            })
        </script>
        <div id="header"></div>
        <div id="navbar"></div>
    </head>
    <body>
        <div class="signup-bubble">
        <h1>Login</h1>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class=flashes>
                {% for category, message in messages %}
                    <div class="big-bold-italic {{ category }}">{{ message }}</div>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        
        <form method="POST" action="{{ url_for('login_local') }}">
            {{ form.hidden_tag() }}
            <div class="form-group mb-3">
                {{ form.email.label(class="form-label") }}
                {{ form.email(class="form-control") }}
                {% if form.email.errors %}
                    <div class="text-danger">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group mb-3">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control") }}
                {% if form.password.errors %}
                    <div class="text-danger">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
        
        <div class="text-center mt-3">
            <small>
                Don't have an account? 
                <a href="{{ url_for('register') }}">Sign Up</a>
            </small>
        </div>
        <div class="divider">
            <span class="divider-text">or</span>
        </div>
        <a href="{{ url_for('login') }}"><img src="{{url_for('static',  filename='google_logo.png')}}" style="width: 90%;"></a>
        </div>
    </body>
</html>