<!DOCTYPE html>
<html lang = "en">
    <link rel="stylesheet" href="{{url_for('static',  filename='style.css')}}">
    <body>
        <h1>
            {{ movie_name }} : {{ movie_co.movie_co }} : {{ movie_co.movie_year}}
        </h1>
        {{ movie_co.movie_img_url }}<hr>
        <table border="4">
            <caption style="font-size: 150%;">Movie Details</caption>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Song Name</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Skier(s)</th>
                    <th>Location</th>
                    <th>Primary style of skiing</th>
                    <th>Spotify Link</th>
                    <th>Link to segment</th>
                </tr>
            </thead>
        
        {% for item in movie_info %}
            {% for movie in item%}
            <tr>
                <th>{{ movie.song_num }}</th>
                <th>{{ movie.song_name }}</th>
                <th>{{ movie.song_artist }}</th>
                <th>{{ movie.song_album }}</th>
                <th>{{ movie.skier_name }}</th>
                <th>{{ movie.location }}</th>
                <th>{{ movie.skit_type }}</th>
                <th><a  href={{ movie.spotify_id }}>{{ movie.spotify_id }}</a></th>
                <th><a  href={{ movie.video_link }}>{{ movie.video_link }}</a></th>
            </tr>
            {% endfor %}
        {% endfor %}
    </body>
