<!DOCTYPE html>
<html lang = "en">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-4L8K5WV7VD"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'G-4L8K5WV7VD');
        </script>
    <link rel="stylesheet" href="{{url_for('static',  filename='style.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $(function(){
            $('#header').load("{{ url_for('header') }}")
        })
    </script>
    <script>
        $(function(){
            $('#navbar').load("{{ url_for('navbar') }}")
        })
    </script>
    <body>
        <div id="header"></div>
        <div id="navbar"></div>
        <h1>
            {{ movie_name }} : {{ movie_co.movie_co }} : {{ movie_co.movie_year}}
        </h1>
        {{ movie_co.movie_img_url }}<hr>
        <h1>Ski Tunes Database</h1>
    <div class="table-container">
        <table border="4">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Song Name</th>
                    <th>Artist</th>
                    <th>Album</th>
                    <th>Genres</th>
                    <th>Skier(s)</th>
                    <th>Location</th>
                    <th>Primary style of skiing</th>
                    <th>Spotify Link</th>
                    <th>Link to segment</th>
                </tr>
            </thead>
        
        {% for item in movie_info %}
            {% for movie in item%}
            <tr>
                <th>{{ movie.song_num }}</th>
                <th>{{ movie.song_name }}</th>
                <th>{{ movie.song_artist }}</th>
                <th>{{ movie.song_album }}</th>
                <th>{{ movie.genres }}</th>
                <th>{{ movie.skier_name }}</th>
                <th>{{ movie.location }}</th>
                <th>{{ movie.skit_type }}</th>
                {% if 'Not Found' in movie.spotify_id %}
                    <th>{{ movie.spotify_id }}</th>
                {% else %}
                <th><a  href={{ movie.spotify_id }}>Listen on Spotify</a></th>
                {% endif %}
                {% if 'Unknown' in movie.video_link %}
                    <th>{{ movie.video_link }}</th>
                {% else %}
                    <td><a href={{ movie.video_link }}>{{ movie.video_link }}</a></td>
                {% endif %}
            </tr>
            {% endfor %}
        {% endfor %}
        </table>
    </div>
    </body>
    </head>
</html>