<div class="navbar">
    <a href="{{url_for('home')}}">Home</a>
    <div class="dropdown">
        <button class="dropbtn">Production Companies
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            {% for track in tracks %}
            {% if 'Production Company' in track %}
            {% else %}
                <a href="{{url_for('prod_co', name=track)}}">{{ track }}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Segment Type
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">

        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Skier Name
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">

        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Skier Gender
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">

        </div>
    </div>
    <div class="login-dropdown">
    {% if current_user.is_authenticated %}
        <button class="dropbtn">{{ current_user.name }}
        <i class="fa fa-caret-down"></i>
        </button>
        <div class="login-dropdown-content">
            <a href="{{url_for('account')}}">My Account</a>
            <a href="{{url_for('logout')}}">Logout</a>
        </div>
    {% else %}
        <a href="{{url_for('login')}}">Login</a>
    {% endif %}
    </div>
</div>