<!DOCTYPE html>
<html>
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-4L8K5WV7VD"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'G-4L8K5WV7VD');
        </script>
    <link rel="stylesheet" href="{{url_for('static',  filename='style.css')}}" type="text/css">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $(function(){
            $('#header').load("{{ url_for('header') }}")
        })
    </script>
    <script>
        $(function(){
            $('#navbar').load("{{ url_for('navbar') }}")
        })
    </script>
    <body>
        <div id="header"></div>
        <div id="navbar"></div>
        <h1>Add new entry</h1>
        <div class="bubble">
            <form action="{{  request.path  }}" method="post">
                <p>Song Title : <input type="text" name="song_name" placeholder="It's a Long Way to the Top (If You Wanna Rock 'N' Roll)" /></p>
                <p>Artist : <input type="text" name="song_artist" placeholder="AC/DC" value="Unknown"/></p>
                <p>Album : <input type="text" name="song_album" placeholder="High Voltage" value="Unknown"/></p>
                <p>Song Number : <input type="text" name="song_num" placeholder="1" value="Unknown"/></p>
                <p>Spotify Link : <input type="text" name="spotify_id" placeholder="https://open.spotify.com/track/7nemcVsXVFZF01iqpIIo2Y?si=1a5a5a7b533244ee" value="Unknown"/></p>
                <p>Skier Name : <input type="text" name="skier_name" placeholder="Chris Benchetler" value="Unknown"/></p>
                <p>Movie Title : <input type="text" name="movie_name" placeholder="Balls Deep" value="Unknown"/></p>
                <p>Movie Year : <input type="text" name="movie_year" placeholder="2022" value="Unknown"/></p>
                <p>Production Company : <input type="text" name="movie_co" placeholder="Ski Movie Songs Presents" value="Unknown"/></p>
                <p>Primary Ski style : <input type="text" name="ski_type" placeholder="Powder" value="Unknown"/></p>
                <p>Location : <input type="text" name="location" placeholder="Colorado" value="Unknown"/></p>
                <p>Link to segment : <input type="text" name="video_link" placeholder="https://www.youtube.com/" value="Unknown"/></p>
                <hr>
                <input type="submit" value="Submit" />
                <a href="{{url_for('home')}}">Home</a>
            </form>
        </div>
    </body>
    </head>
</html>