<!DOCTYPE html>
<html lang = "en">
    <link rel="stylesheet" href="{{url_for('static',  filename='style.css')}}">
    <script src="{{url_for('static',  filename='app.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $(function(){
            $('#header').load("{{ url_for('header') }}")
        })
    </script>
    <script>
        $(function(){
            $('#navbar').load("{{ url_for('navbar') }}")
        })
    </script>
    <body>
        <div id="header"></div>
        <div id="navbar"></div>
        <form action="" method="post">
            <button type="submit" name="submit-button" value="Create">Create Playlist</button>
            <table border="4">
                <caption style="font-size: 150%;">Ski Tunes Database</caption>
                
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Song Name</th>
                        <th>Artist</th>
                        <th>Movie Title</th>
                        <th>Production Company</th>
                        <th>Spotify Link</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>
                            <label class="select_all" for="chkbxAll">
                                <input onchange="selectAllChkboxes()" class="select_all" type="checkbox" id="chkbxAll"/>All
                            </label>
                        </th>
                        <th>
                            <form action="/skitunes/filtersong"><input type="text" value="" placeholder="Filter Song Name" name="song_name"></form>
                        </th>
                        <th>        
                            <form action="/skitunes/filterartist">
                                <input type="text" value="" placeholder="Filter Artist" name="song_artist">
                            </form>
                        </th>
                        <th>
                            <form action="/skitunes/filtermovie">      
                                <input type="text" value="" placeholder="Filter Movie Name" name="movie_name">
                            </form>
                        </th>
                        <th>
                            <form action="/skitunes/filtermovieco">
                                <input type="text" value="" placeholder="Filter Production Co." name="movie_co">
                            </form>
                        </th>
                    </tr>
                    {% for track in tracks %}
                    <tr>
                        {% if 'Not Found' in track.spotify_id %}
                        <td></td>
                        {% else %}
                        <td>
                            <label class="select-option" for="chkbx{{ track.db_id }}">
                                <input type="checkbox" class="select-option" id="chkbx{{ track.db_id }}" value="{{ track.db_id }}">
                            </label>
                        </td>
                        {% endif %}
                        <th>{{ track.song_name }}</th>
                        <th>{{ track.song_artist }}</th>
                            {% for movie in track.movie_details %}
                                <th><a href="{{url_for('ski_movie',  name=movie.movie_name)}}">{{ movie.movie_name }}</a></th>
                                <th>{{ movie.movie_co }}</th>
                            {% endfor %}
                    {% if 'Not Found' in track.spotify_id %}
                        <th>{{ track.spotify_id }}</th>
                    {% else %}
                    <th><a  href={{ track.spotify_id }}>{{ track.spotify_id }}</a></th>
                    {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
    </body>

</html>