<!DOCTYPE html>
<html lang = "en">
    <link rel="stylesheet" href="{{url_for('static',  filename='style.css')}}">
    <script src="{{url_for('static',  filename='app.js')}}"></script>
    <body>
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('create_playlist')}}">Create Playlist</a>
            <table border="4">
                <caption style="font-size: 150%;">Ski Tunes Database</caption>
                
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Song Name</th>
                        <th>Artist</th>
                        <th>Movie Title</th>
                        <th>Production Company</th>
                        <th>Spotify Link</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th>
                            <label class="select_all" for="chkbxAll">
                                <input onchange="selectAllChkboxes()" class="select_all" type="checkbox" id="chkbxAll"/>All
                            </label>
                        </th>
                        <th>
                            <form action="/skitunes/filtersong"><input type="text" value="" placeholder="Filter Song Name" name="song_name"></form>
                        </th>
                        <th>        
                            <form action="/skitunes/filterartist">
                                <input type="text" value="" placeholder="Filter Artist" name="song_artist">
                            </form>
                        </th>
                        <th>
                            <form action="/skitunes/filtermovie">      
                                <input type="text" value="" placeholder="Filter Movie Name" name="movie_name">
                            </form>
                        </th>
                        <th>
                            <form action="/skitunes/filtermovieco">
                                <input type="text" value="" placeholder="Filter Production Co." name="movie_co">
                            </form>
                        </th>
                    </tr>
                    {% for track in tracks %}
                    <tr>
                        <td>
                            <label class="select-option" for="chkbx{{ track.db_id }}">
                                <input type="checkbox" class="select-option" id="chkbx{{ track.db_id }}" value="{{ track.db_id }}">
                            </label>
                        </td>
                        <th>{{ track.song_name }}</th>
                        <th>{{ track.song_artist }}</th>
                            {% for movie in track.movie_details %}
                                <th><a href="{{url_for('ski_movie',  name=movie.movie_name)}}">{{ movie.movie_name }}</a></th>
                                <th>{{ movie.movie_co }}</th>
                            {% endfor %}
                    <th><a  href={{ track.spotify_id }}>{{ track.spotify_id }}</a></th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            
    </body>

</html>