<!DOCTYPE html>
<html lang = "en">
    <link rel="stylesheet" href="{{url_for('static',  filename='style.css')}}">
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="{{url_for('static',  filename='app.js')}}"></script>
    <body>
        <a href="{{url_for('home')}}">Home</a>
        <a href="{{url_for('create_playlist')}}">Create Playlist</a>
    <table border="4">
        <caption style="font-size: 150%;">Ski Tunes Database</caption>
        <thead>
            <tr>
                <th><input type="checkbox" id="select_all"/></th>
                <th>Song Name</th>
                <th>Artist</th>
                <th>Album</th>
                <th>Movie Title</th>
                <th>Production Company</th>
                <th>Year</th>
                <th>Song Number</th>
                <th>Skier(s)</th>
                <th>Location</th>
                <th>Primary style of skiing</th>
                <th>Spotify Link</th>
                <th>Link to segment</th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th></th>
                <th>
                    <form action="/skitunes/filtersong"><input type="text" value="" placeholder="Filter Song Name" name="song_name"></form>
                </th>
                <th>        
                    <form action="/skitunes/filterartist">
                        <input type="text" value="" placeholder="Filter Artist" name="song_artist">
                    </form>
                </th>
                <th>  
                    <form action="/skitunes/filteralbum">      
                        <input type="text" value="" placeholder="Filter Album" name="song_album">
                    </form>
                </th>
                <th>
                    <form action="/skitunes/filtermovie">      
                        <input type="text" value="" placeholder="Filter Movie Name" name="movie_name">
                    </form>
                </th>
                <th>
                    <form action="/skitunes/filtermovieco">
                        <input type="text" value="" placeholder="Filter Production Co." name="movie_co">
                    </form>
                </th>
                <th></th>
                <th></th>
                <th>
                    <form action="/skitunes/filterskier">
                        <input type="text" value="" placeholder="Filter Skier" name="skier_name">
                    </form>
                </th>
                <th>
                    <form action="/skitunes/filterlocation">
                        <input type="text" value="" placeholder="Filter Location" name="location">
                    </form>
                </th>
                <th>
                    <form action="/skitunes/filtertype">
                        <input type="text" value="" placeholder="Filter Segment Type" name="ski_type">
                    </form>
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            {% for track in tracks %}
            <tr>
                <td><input type="checkbox" class="checkbox" name="check[]" value="{{ track.db_id }}"></td>
                <td>{{ track.song_name }}</td>
                <td>{{ track.song_artist }}</td>
                <td>{{ track.song_album }}</td>
                {% for movie in track.movie_details %}
                    <td><a  href="{{url_for('ski_movie',  name=movie.movie_name)}}">{{ movie.movie_name }}</a></td>
                    <td>{{ movie.movie_co }}</td>
                    <td>{{ movie.movie_year}}</td>
                {% endfor %}
                <td>{{ track.song_num }}</td>
                <td>{{ track.skier_name }}</td>
                <td>{{ track.location }}</td>
                <td>{{ track.ski_type }}</td>
                <td><a href={{ track.spotify_id }}>{{ track.spotify_id }}</a></td>
                <td><a href={{ track.video_link }}>{{ track.video_link }}</a></td>
                <td><a href="{{url_for('edit_entry',  entry=track.db_id)}}">Edit</a></td>
                <td><a href="{{url_for('delete_entry',  entry=track.db_id)}}">Delete</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>