<!DOCTYPE html>
<html lang = "en">
    <link rel="stylesheet" href="{{url_for('static',  filename='style.css')}}">
    <body>
        <h1>
            Welcome to SkiMovieSongs.com!
        </h1>
        <div class="big-bold">You've discovered a Massive database of soundtracks for nearly every ski movie ever produced. </div><br>
            Our snowboard movies database is coming soon and we look forward to expanding into all of your other favorite extreme sports.<br>
            <br>
            <div class="mid-bold">The idea started with the simple recognition that many of us listen to, learn about, share,<br> 
            and enjoy the music that's featured in our favorite ski and snowboard films. <br>
            Think of how many times you've heard a friend say or asked the following yourself:</div><br>
            <br>
            <div class="italic-left">"What movie was this song in??"</div><br>                                                          
            <div class="italic-mid">"This song would be great in a ski movie!"</div><br>                                                                               
            <div class="italic-right">"Isn't this from that pow scene in...?"</div><br> 
            <div class="mid-bold">Now you can find out with ease! I have a lot in store for this site but for now you can use <br>
            the search fields below to figure out if that song currently stuck in your head really was in<br>
            the opening segment of MSP's Seven Sunny Days…</div><br>

            <form action="/skitunes/findmovie">
                Song Name : <input type="text" id="song_name" name="song_name" placeholder="Come Alive"><br>
                Song Artist : <input type="text" id="song_artist" name="song_artist" placeholder="Foo Fighters"><br>
                <input type="submit" value="Search!">
            </form>

            <a href="{{url_for('skibase_lite')}}"> Small Database</a><br>
            <a href="{{url_for('skibase')}}"> Full Database</a>
    </body>

</html>