<!DOCTYPE html>
<html lang = "en">
    <link rel="stylesheet" href="{{url_for('static',  filename='style.css')}}">
    <script src="static/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $(function(){
            $('#header').load("{{ url_for('header') }}")
        })
    </script>
    <script>
        $(function(){
            $('#navbar').load("{{ url_for('navbar') }}")
        })
    </script>
    <body>
        <div id="header"></div>
        <div id="navbar"></div>
        {% if name %}
        <h1>
            Welcome to SkiMovieSongs.com {{ name }}!
        </h1>
        <img src="{{ profile_pic }}"> <br>
        {% else %}
        <h1>
            Welcome to SkiMovieSongs.com!
        </h1>
        {% endif %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        <div class="big-bold">You've discovered a Massive database of soundtracks for nearly every ski movie ever produced. </div><br>
            Our snowboard movies database is coming soon and we look forward to expanding into all of your other favorite extreme sports.<br>
            <br>
            <div class="mid-bold">The idea started with the simple recognition that many of us listen to, learn about, share,<br> 
            and enjoy the music that's featured in our favorite ski and snowboard films. <br>
            Think of how many times you've heard a friend say or asked the following yourself:</div><br>
            <br>
            <div class="italic-left">"What movie was this song in??"</div><br>                                                          
            <div class="italic-mid">"This song would be great in a ski movie!"</div><br>                                                                               
            <div class="italic-right">"Isn't this from that pow scene in...?"</div><br> 
            <div class="mid-bold">Now you can find out with ease! I have a lot in store for this site but for now you can use <br>
            the search fields below to figure out if that song currently stuck in your head really was in<br>
            the opening segment of MSP's Seven Sunny Days…</div><br><br>

            <form action="/skitunes/findmovie">
                Song Name : <input type="text" id="song_name" name="song_name" placeholder="Come Alive"><br><br>
                Song Artist : <input type="text" id="song_artist" name="song_artist" placeholder="Foo Fighters"><br><br>
                Movie Year : <input type="text" id="movie_year" name="movie_year" placeholder="1999"><br><br>
                <input type="submit" value="Search!">
            </form>

            {% if name %}
                <a href="{{url_for('skibase_lite')}}"> Small Database</a><br>
                <a href="{{url_for('skibase')}}"> Full Database</a>
                <br>
                <br>
                <a href="{{url_for('new_entry')}}"> New Entry</a><br>
                <a href="{{url_for('spotify_auth')}}">Spotify Login</a><br>
                <a href="{{url_for('logout')}}"> Logout</a>
            {% else %}
                <a href="{{url_for('login')}}">Admin Login</a>
            {% endif %}
            </body>
</html>