<!DOCTYPE html>
<html lang = "en">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-4L8K5WV7VD"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
        
          gtag('config', 'G-4L8K5WV7VD');
        </script>
    <link rel="stylesheet" href="{{url_for('static',  filename='style.css')}}">
    <script src="static/app.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script>
        $(function(){
            $('#header').load("{{ url_for('header') }}")
        })
    </script>
    <script>
        $(function(){
            $('#navbar').load("{{ url_for('navbar') }}")
        })
    </script>
    <body>
        <div id="header"></div>
        <div id="navbar"></div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
                <div class="big-bold-italic">{{ message }}</div>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        {{ data }}
        <br>
        <div class="big-bold"><p>Search our massive database of soundtracks for nearly every ski movie ever produced. </p></div>
            <br>
            <div class="mid-bold"><p>If you listen to, learn about, share, and enjoy the music that's featured in our favorite ski and snowboard films. <br> 
            use the search fields below to figure out if that song currently stuck in your head really was in the opening segment of MSP's Seven Sunny Days…<br></p>
            </div><br>
            <br><br>

            <form action="/skitunes/findmovie">
                Song Name : <input type="text" id="song_name" name="song_name" placeholder="Come Alive"><br><br>
                Song Artist : <input type="text" id="song_artist" name="song_artist" placeholder="Foo Fighters"><br><br>
                Movie Year : <input type="text" id="movie_year" name="movie_year" placeholder="1999"> to <input type="text" id="movie_year2" name="movie_year2" placeholder="2000"><br><br>
                <input type="submit" value="Search!">
            </form>

            {% if current_user.is_authenticated %}
                <a href="{{url_for('skibase_lite')}}">View Small Database</a><br>
                <a href="{{url_for('skibase')}}">View Full Database</a><br>
            {% endif %}
            </body>
    </head>
</html>